# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.tsv
*.json
*.xlsx

# Logs
*.log

# IDE specific files
.vscode/
.idea/
*.swp

# Miscellaneous
*.DS_Store
*.egg-info/
dist/
build/
*.egg